{{- if and .Values.ingress.enabled (or .Values.ingress.host .Values.rancher.publicHost) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "krew-workstation.fullname" . }}
  labels:
    {{- include "krew-workstation.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{- end }}
  rules:
    - host: {{ (.Values.ingress.host | default .Values.rancher.publicHost) | quote }}
      http:
        paths:
          - path: /krew-api
            pathType: Prefix
            backend:
              service:
                name: {{ include "krew-workstation.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName | quote }}
    {{- end }}
  {{- end }}
{{- end }}
